$avatarBorder: #221C1D;
$cardBorder: #666666;
$primary: #FAFAFA;
$backlogBackground: #59B4D1;
$todoBackground: #D0935A;
$doneBackground:  #945AD1;
$completedBackground:  #59D090;
$textBlack: #171717;
$textWhite: #FFFFFF;
$backgroundPrimary: #E1E8ED;
$navBackgroundPrimary: #80a7c4;

$fontFace: sans-serif;

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: $fontFace;
  background-color: $backgroundPrimary;
}

nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: $navBackgroundPrimary;
  padding: 10px;
  & li a {
    color: $textWhite;
    text-decoration: none;
    margin: 20px;
  }

  & li a:hover {
    text-decoration: none;
    color: $textBlack;
  }
}

.container{
  padding-top: 20px;
}

.task-container {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 20px;

  h4{
    color: $textWhite;
  }

  &.backlog {
    background-color: $backlogBackground;
  }

  &.todo {
    background-color: $todoBackground;
  }

  &.done {
    background-color: $doneBackground;
  }

  &.completed {
    background-color: $completedBackground;
  }
}
